* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: georgia, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    align-content: center;
    /* background: #f8f6f1; */
    overflow: hidden;
    background-color: #5aa6d8cc;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23d13bc4' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    animation: gradientAnimation 220s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#encabezado-container {
    display: grid;
    place-content: start center;
    text-align: center;
    overflow: hidden;
}

#brillo {
    font-size: 2rem;
    font-weight: bold;
    color: rgba(255, 0, 102, 0.3);
    z-index: 10;
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-size: 150px;
    background-clip: text;
    animation-name: brillo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(233, 85, 189, 0.419);
}

@keyframes brillo {
    0%, 10% { background-position: -1000px; }
    20% { background-position: top left; }
    90% { background-position: top right; }
    100% { background-position: 1000px; }
}

#frases-container {
    display: grid;
    place-content: center;
    height: 20vh;
    text-align: center;
    overflow: hidden;
}

/* Estilos para el efecto de texto */
#frases {
    position: relative;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Comic Neue', sans-serif;
    color: rgb(215, 10, 10);
    text-shadow: rgba(92, 167, 89, 0.855) 1px 1px 2px;
}

.letter {
    display: relative;
    opacity: 0; 
    transform: translateX(-50px); 
    animation: slideIn 0.5s forwards;
    animation-delay: var(--delay);
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moverFrases {
    0% { transform: translateX(0); }
    100% { transform: translateX(10%); }
}

.galeria-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    position: relative;
}

.galeria {
    --d: 20s; 
    display: grid;
    place-items: center;
    width: 220px;
    height: 220px;
    position: absolute;
}

.galeria > img {
    grid-area: 1/1;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 10px solid #f2f2f2;
    box-shadow: 0 0 4px #0007;
    z-index: 2;
    animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
}

.galeria img:last-child {
    animation-name: slide, z-order-last;
    animation-duration: var(--d);
}

.galeria > img:nth-child(1) { animation-delay: calc(0 * var(--d)); --r: 16deg; }
.galeria > img:nth-child(2) { animation-delay: calc(-0.1 * var(--d)); --r: -1deg; }
.galeria > img:nth-child(3) { animation-delay: calc(-0.2 * var(--d)); --r: -19deg; }
.galeria > img:nth-child(4) { animation-delay: calc(-0.3 * var(--d)); --r: 6deg; }
.galeria > img:nth-child(5) { animation-delay: calc(-0.4 * var(--d)); --r: -8deg; }
.galeria > img:nth-child(6) { animation-delay: calc(-0.5 * var(--d)); --r: 9deg; }
.galeria > img:nth-child(7) { animation-delay: calc(-0.6 * var(--d)); --r: -14deg; }
.galeria > img:nth-child(8) { animation-delay: calc(-0.7 * var(--d)); --r: 3deg; }
.galeria > img:nth-child(9) { animation-delay: calc(-0.8 * var(--d)); --r: -12deg; }
.galeria > img:nth-child(10) { animation-delay: calc(-0.9 * var(--d)); --r: 7deg; }

@keyframes slide {
    10% { transform: translateX(120%) rotate(var(--r)); }
    0%, 100%, 20% { transform: translateX(0%) rotate(var(--r)); }
}

@keyframes z-order {
    10%, 20% { z-index: 1; }
    80% { z-index: 2; }
}

@keyframes z-order-last {
    10%, 20% { z-index: 1; }
    100% { z-index: 2; }
}

@media only screen and (min-width: 600px) {
    #brillo { font-size: 3rem; }
    #frases { font-size: 1.5rem; }
    .galeria, .galeria-container { width: 300px; height: 300px; }
}

@media only screen and (min-width: 1024px) {
    body { gap: 1rem;}
    .galeria, .galeria-container { width: 350px; height: 350px; }
}
